*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    align-items: center;
    justify-content: center;
    
    

}
body{
    background-color: #f2e9e2;
     Family: [Montserrat](https://fonts.google.com/specimen/Montserrat)- Weights: 500, 700;
    justify-items: center;
}
.block{
    display: flex;
    margin-top: 7rem;
}
img{
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
}
.block{

}
h5{
    margin-bottom: 1rem;
}
.perfume{
    background-color: #ffffff;
    padding: 2rem; 
     width: 300px;
     height: 400px;
     border-top-right-radius: 10px;
     border-bottom-right-radius: 10px;
}
.flexx{
    display: inline-flex;
}
 h6{
    padding: 1rem;
    text-decoration: line-through;

}
#dollar{
    color: #427f68;
    padding: 1rem;
}
button{
    width:15rem;
    height: 2.5rem;
    border: 1px solid #427f68;
    border-radius: 10px;
    background-color:#3d8168;
    color: #ffffff;
}
